@import "tailwindcss";
@import "tw-animate-css";
@import "./theme.css";

@custom-variant dark (&:is(.dark *));

@layer base {
  *,
  *::before,
  *::after {
    @apply border-border outline-ring/50;
    box-sizing: border-box;
  }

  body {
    @apply bg-background text-foreground m-0 p-0;
    letter-spacing: var(--tracking-normal);
  }

  img,
  video {
    max-width: 100%;
    height: auto;
    display: block;
  }

  ul,
  ol {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    margin: 0;
  }

  button,
  input,
  textarea,
  select {
    font: inherit;
    margin: 0;
  }
}

/* THEME BELOW */
